body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.card{
width:70px;
height:100px;
border-radius:10px;
display:inline-flex;
align-items:center;
justify-content:center;
margin:5px;
cursor:pointer;
font-weight:bold;
}

.red{background:red}
.blue{background:blue}
.green{background:green}
.yellow{background:gold}